.main {
    width: 100vw;
    text-align: center;
    margin: 0;
}

.table {
    margin:10%;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #AFCDE7;
    border-collapse: collapse;
}
.td {
     border: 1px solid #AFCDE7;
}

.tr {
    height: 22px;
}

.table.invers td {
    background-color: black;

}

.table.invers td.change {
    background-color: white;

}
.table td  {
    background-color: rgba(242, 254, 252, 0);
}

.table td.change {
    background-color: black;
}

